[submodule "lib/bioinfo-libs"]
	path = lib/bioinfo-libs
	url = file://localhost/home/jtarraga/jtarraga.clinic2/appl/bioinfo-c/libs/bioinfo-libs
[submodule "lib/common-libs"]
	path = lib/common-libs
	url = file://localhost/home/jtarraga/jtarraga.clinic2/appl/bioinfo-c/libs/common-libs
